.c-check-group {
    border-radius: var(--border-radius);
 }

.c-check { 
    cursor: pointer;
}

.c-radio-group {
    border-radius: var(--border-radius);
 }
 
.c-radio { 
    cursor: pointer;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
